/***************** Sort toolbar ********************/

div.sort-block {
    padding-bottom: 15px;
    font-size: 0.9em;
    font-weight: bold;
}

span.sort-info {
    padding-left: 5px;
    font-weight: bold;
    margin: 5px 0px;
}

span.sort-item {
    padding: 15px;
}

span.sort-item img {
	vertical-align: middle;
}

span.sort-item :hover {
    text-decoration: none;
    color: #d69046;
}

span.sort-item a.sort-active {
    color: #d69046;
}

/***************** Main page ********************/

div.browse_more {
	padding: 20px 0px 5px;
	text-align: center;
}


/***************** Entity listing ********************/

span.info_item {
	margin-left: 15px;
	float: right;
}

span.info_item img {
	padding-right: 2px;
	vertical-align: middle;
}


/***************** Filters ********************/

div#plugin_filters select.input-select {
    width: 222px;
}

div#plugin_filters input.input-text {
    width: 210px;
}

div#plugin_filters div.filter_fields {
    padding-bottom: 10px;
}

div#plugin_filters div.filter_label {
    color: #555;
    margin-bottom: 5px;
    font-weight: bold;
}

div#plugin_filters button.clear_search {
    background: none repeat scroll 0 0 #4690d6;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: white;
    cursor: pointer;
    font: bold 12px/100% Arial,Helvetica,sans-serif;
    height: 25px;
    margin: 10px 0;
    padding: 2px 6px;
    width: auto;
    float: right;
}

div#plugin_filters button.clear_search:hover {
    background: none repeat scroll 0 0 black;
    color: white;
}